body {
    background: #1A0B2E;
    color: white;
}

/* shared elements */
.btn {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #37035c);
    font-size: .8rem;
    padding: 8px 16px;
    border-radius: 18px;
}

/* header section */
/* nav */
#navebar {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
}

#navebar h1 {
    font-size: 2rem;
    font-weight: bold;
}

#wave {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 800;
}

#navebar ul {
    font-size: 70%;
    display: flex;
    align-items: center;
    gap: 30%;
}


#bar {
    display: none;
}

/* banner part */
#banner {
    background: url("./assets/hero-bg.png");
    /* background: no-repeat; */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 80vh; */
    border-top: 1px solid rgba(128, 128, 128, 0.457);
    width: 100%;
    padding: 20px;
}

.banner-container {
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-container .mic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid red; */
    height: 100%;
    width: 60%;
}

.banner-container .mic {
    display: flex;
    /* border: solid; */
    align-items: center;
    justify-content: center;
    background: url("./assets/hero-circle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 300px;
    margin-top: 20px;
}

.banner-container .mic img {
    width: 40%;
    /* height: ; */
}

.banner-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* Adds space between the two buttons */
    margin-top: 25px;
    /* Adds space between text and buttons */
    width: 100%;

}

.listen {
    /* width: 100%;
    height: 100%; */
}

#subscribe2 {
    background-color: rgba(250, 235, 215, 0);
    border: solid 1px;
    border-color: rgb(5, 254, 21);
    border-radius: 8px;
    color: rgb(5, 254, 21);
    padding: 5px;
}

.NEW {
    margin-left: -20%;
    margin-top: -40%;
    color: black;
    background-color: #00ff88;
    padding: 5px 5px;
    border-radius: 15px;
    font-weight: 600;
    width: 20%;
    box-shadow: #00ff88 0px 0 10px;
}

/* #subscribe2 i {

} */

/* about */
#about {
    width: 70%;
    margin: 0 auto;
    margin-top: 101px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: grey solid 1px;
    padding-bottom: 30px;
}

#about h1 {
    font-size: 2.8rem;
    font-weight: 700;
}
#about p {
    font-size: 80%;
    font-weight: 300;
    width: 70%;
}


/* ratings */
#ratings {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

#ratings h1{
    color: #00ff88;
    font-weight: bold;
    font-size: 2rem;
}
#ratings p {
    font-size: 70%;
    font-weight: 300;

}
/* main */
#product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
}
#producttype {
    font-size: 2rem;
    font-weight: bold;
    background-color: #230E3D;
    margin-bottom: 30px;
}

.porducts {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
}

.card {
    border: solid red 1px;
    box-shadow: red 0 0 5px;
    border-radius: 20px;
    padding: 0 30px ;
    padding-top: 30px;
    background-color: rgba(74, 73, 73, 0.144);
}

.card:hover {
    box-shadow: skyblue 0 0 10px;
}

.card h1 {
    font-size: 1.5rem;
    padding: 10px 0;
    font-weight: 700;
}

.card p {
    font-size: 80%;
    font-weight: 300;
}

.card1 {
    grid-column: span 1;
    grid-row: span 2;
}

.card2 {
    grid-column: span 2;
    /* grid-row: span 2; */

}
.card3 {
    grid-column: span 2;
    /* grid-row: span 2; */

}
.card4 {
    grid-column: span 2;
    /* grid-row: span 2; */

}
.card5 {
    grid-column: span 1;
    /* grid-row: span 2; */

}


.episods {
    margin: 0 auto;
    background-color: #1A0B2E;
    width: 70%;
    text-align: center;
    margin-top: 90px;
}

.videos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 25px;
    width: 90%;
    margin: 40px auto;
}

.video {
    background: rgba(255, 255, 255, 0.03);
    padding: 15px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.2s ease;
    text-align: left;
}

.video:hover {
    transform: translateX(-10px);
    border-color: #00ff88;
}


.vid {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.vid iframe {
    width: 100%;
    height: 100%;
}

.video h1 {
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: bold;
}

.video p {
    font-size: 70%;
    font-weight: 300;
    margin-top: 10px;
}

.time {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
}
.time p {
    padding-bottom: 8px;
}

/* Media query */
@media screen and (max-width:577px) {

    #navebar {
        width: 90%;
    }

    #navebar ul,
    #subscribe {
        display: none;
    }

    #bar {
        display: block;
    }

    #banner {
        background-size: 100% auto;
        min-height: 100vh;
        /* padding-bottom: 180px;  */
        background-repeat: no-repeat;
    }

    .banner-container {
        width: 100%;
        margin-top: -210px;
    }

    .banner-container .mic {
        display: flex;
        /* border: solid; */
        align-items: center;
        justify-content: center;
        /* background: url("assets/hero-circle.png"); */
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 150px;
        width: 150px;
    }
    #about {
        margin-top: 0;
        width: 95%;
    }
    #about h1 {
        font-size: 2rem;
        font-weight: 700;
    }

    #ratings {
        width: 95%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .porducts {
        display: flex;
        flex-direction: column;
    }

    .episods h1 {
        font-size: 1.4rem;
    }
    .videos {
        grid-template-columns: repeat(1,1fr);
        width: 120%;
        gap: 15px;
        margin-left: -10%;
    }

    .videos h1 {
        font-size: 1rem;
    }
}