body {
    background: #1A0B2E;
    color: white;
}

/* shared elements */
.btn {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #37035c);
    font-size: .8rem;
    padding: 8px 16px;
    border-radius: 18px;
}

/* header section */
/* nav */
#navebar {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
}

#navebar h1 {
    font-size: 2rem;
    font-weight: bold;
}

#wave {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 800;
}

#navebar ul {
    font-size: 70%;
    display: flex;
    align-items: center;
    gap: 30%;
}


#bar {
    display: none;
}

/* banner part */
#banner {
    background: url("./assets/hero-bg.png");
    /* background: no-repeat; */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 80vh; */
    border: solid;
    width: 100%;
    padding: 20px;
}

.banner-container {
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-container .mic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid red; */
    height: 100%;
    width: 60%;
}

.banner-container .mic {
    display: flex;
    /* border: solid; */
    align-items: center;
    justify-content: center;
    background: url("./assets/hero-circle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width:  300px;
    margin-top: 20px;
}

.banner-container .mic img {
    width: 40%;
    /* height: ; */
}

.banner-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; /* Adds space between the two buttons */
    margin-top: 25px; /* Adds space between text and buttons */
    width: 100%;

}

.listen {
    /* width: 100%;
    height: 100%; */
}

#subscribe2 {
    background-color: rgba(250, 235, 215, 0);
    border: solid 1px;
    border-color: rgb(5, 254, 21);
    border-radius: 8px;
    color: rgb(5, 254, 21);
    padding: 5px;
}

.NEW {
    margin-left: -20%;
    margin-top: -40%;
    color: black;
    background-color: #00ff88;
    padding: 5px 5px;
    border-radius: 15px;
    font-weight: 600;
    width: 20%;
    box-shadow: #00ff88 0px 0 10px ;
}

#subscribe2 i {

}

/* Media query */
@media screen and (max-width:577px) {

    #navebar {
        width: 90%;
    }
    #navebar ul,
    #subscribe {
        display: none;
    }

    #bar {
        display: block;
    }

    #banner {
        background-size: 100% auto; 
        min-height: 100vh;
        /* padding-bottom: 180px;  */
        background-repeat: no-repeat;
    }
    .banner-container {
        width: 100%;
        margin-top: -210px;
    }

    .banner-container .mic {
    display: flex;
    /* border: solid; */
    align-items: center;
    justify-content: center;
    /* background: url("assets/hero-circle.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width:  150px;
}
}